{{ form_start(form) }}

	<h3>Lignes</h3>
	<ul class="lignes" data-prototype="{{ form_widget(form.lignes.vars.prototype)|e('html_attr') }}">
		{% for ligne in form.lignes %}
			<li>
				{{ form_row(ligne.type) }}
				{{ form_row(ligne.produit) }}
				{{ form_row(ligne.quantite) }}
				{{ form_row(ligne.comment) }}
			</li>
		{% endfor %}
	</ul>

	<button id="btnAddu" class="btn boutonValid add_item_link" data-collection-holder-class="lignes">{{ button_label|default('Ajouter une ligne') }}</button>
	<button id="btnValid" class="btn boutonValidCommande" type='submit'>Enregistrer la commande</button>
{{ form_end(form) }}

